body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: cursive;
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 40%;
  min-height: 200px;
  background-color: slateblue;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  min-width: 400px;
  padding: 70px 20px;
  margin: 5px;
  color: white;
  position: relative;
}
img {
  max-width: 100px;
  min-height: 100px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
}
.username {
  font-size: 13px;
  font-weight: 100;
}
.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
input {
  border: 2px solid rgba(255, 0, 0, 0.266);
  padding: 0.3rem;
  border-radius: 1rem;
}
#button {
  background-color: rgba(108, 205, 95, 0.449);
  padding: 1rem;
  color: rgba(247, 232, 238, 0.874);
  box-shadow: 2px 2px 3px;
}
